* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: monserrat;
  overflow-x: hidden;
}

.section-padding {
  padding: 50px 0;
}

.image_wrapper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  aspect-ratio: 70/40;
  margin: 1.5rem auto;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  /* padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none; */
}

.navbar-light .brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .brand:focus,
.navbar-light .brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .navbar-link {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel-item {
  height: 75vh;
}

/* .carusel {
  height: 100vh;
} */

.carousel-caption {
  bottom: 100px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}


/* .carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
} */

@media only screen and (max-width: 767px) {

  .carousel-item {
    height: 20vh;
    min-height: 250px;
  }

  .carousel-caption {
    bottom: 90px;
  }

  .carousel-caption h5 {
    font-size: 15px;
  }
}

.services .card-body i {
  font-size: 40px;
}

#services p {
  font-size: 1.25rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
  margin-bottom: 2rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  float: left;
  width: 100%;
}


/* Reviews */
.review_user {
  font-size: 0.8rem;
  color: grey;
}

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.black {
  color: #000;
}

.light-black {
  color: #4e4c4d;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #000;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #000;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* responsive css */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-header p {
    width: 85%;
  }

  .content p {
    width: 95%;
  }

  .card {
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {
  .testimonial-area {
    padding: 30px 0;
  }

  .section-header p {
    width: 95%;
  }

  .content p {
    width: 100%;
  }

  .icon-area i {
    font-size: 50px;
  }
}

/* Loader */

.center-loader {
  margin-left: auto;
  margin-right: auto;
  padding: 150px 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}