* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: monserrat;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.section-padding {
  padding: 50px 0;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  /* padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none; */
}

.navbar-light .brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .brand:focus,
.navbar-light .brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .navbar-link {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .carusel {
  height: 100vh;
} */

.carousel-caption {
  bottom: 150px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.services .card-body i {
  font-size: 40px;
}

#services p {
  font-size: 1.25rem;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* responsive css */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    margin-bottom: 30px;
  }
}


@media only screen and (max-width: 767px) {

  .carousel-item {
    height: 60vh;
    min-height: 300px;
  }

  .carousel-caption h5 {
    font-size: 32px;
  }

  .carousel-caption a {
    padding: 15px 15px;
  }

  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 20px;
  }
}